a:link {
    color: cornflowerblue;
    text-decoration: none;
}

a:visited {
    color: indigo;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: red;
}

#headerMenu {
    display: table;
    margin: 0 auto;
}

#headerMenu div {
    display: table-cell;
    padding-right: 20px;
}

#headerMenu a:link {
    font-size: larger;
}

#bookTitle {
    font-size: x-large;
    font-weight: bold;
}

#author {
    font-size: larger;
    font-style: italic;
}

#description {
    text-align: justify;
    vertical-align: top;
}

#searchImage {
    display: inline-block;
    margin: 20px;
    width: 10%;
}

#searchDescription {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    width: 50%;
    text-align: left;
}

#searchPrice {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}

.page-heading {
    color: darkblue;
}

.message {
    font-style: italic;
    color: blue;
}

.center {
    text-align: center;
}

.error {
    color: red;
    margin: 5px;
    font-style: italic;
}

div.book {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

table.book {
    width: 80%;
    margin: 0 auto;
    border: 0;
}

.book-group {
    width: 80%;
    margin: 0 auto;
    border: 0;
}

.next-row {
    clear: both;
}

img.book-small {
    width: 128px;
    height: 164px;
}

img.book-large {
    width: 240px;
    height: 300px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}

table th {
    background: darkblue;
    color: cornsilk;
    font-size: larger;
}

table th, table td {
    padding: 8px;
}

button {
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: green;
}

button[type="submit"] {
    font-weight: bold;
}

input {
    border: 1px solid green;
    border-radius: 4px;
    height: 20px;
}

table.form {
    border: 0;
    padding: 4px;
}